apikey = 'qwertyuiopasdfghjklzxcvbnm1234567890'

#download readings starting at this date/time (UTC time)
startsecond = 0
startminute = 0
starthour = 0
startday = 1 
startmonth = 2
startyear = 2015

#until this date/time (UTC time)
endsecond = 0
endminute = 0
endhour = 1
endday = 1
endmonth = 2
endyear = 2015

#how many seconds to wait in between API calls
sleepamount = 1

#format to save data in (either 'json' or 'csv')
dataformat = 'json'

# by default the global set will be saved
# change these if you want to filter the global data set down to a specific region
minlat = -90
maxlat = 90
minlon = -180
maxlon = 180
